{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block title %}Add a new entry of {{ topic }}{% endblock title %}

{% block header %}
    <h2>Add a new entry</h2>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{ form.as_p }}-->
        {% buttons %}
            <button name="submit">add entry</button>
        {% endbuttons %}
    </form>
{% endblock %}