{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block title %}登录{% endblock %}

{% block header %}
    <h2>Log in to your account.</h2>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{ form.as_p }}-->
        {% buttons %}
        <button name="submit">log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock %}