{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block title %}注册{% endblock title %}

{% block header %}
    <h2>注册</h2>
{% endblock header %}
{% block content %}
    <form action="{% url 'users:register' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{ form.as_p }}-->

        {% buttons %}
            <button name="submit">register</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock %}